* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background: #000;
  color: #fff;
}

p {
  font-size: 3rem;
}

.js {
  color: #fdfdfc;
}

.typed-text {
  color: #de8512;
}

.cursor {
  display: inline-block;
  width: 10px;
  background: #dbe912;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

